.body {
    background-color: #F4ECF7;
}

.navbar {
    background-color: #4A235A;
}
.error {
    font-family: 'Arial', sans-serif;
    background-color: #F4ECF7;
    color: #333;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.error .container {
    text-align: center;
    border-radius: 8px;
    padding: 40px;
    max-width: 600px;
    width: 100%;
}
.error button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.error button:hover {
    background-color: #0056b3;
}
.error h1{
    color: #d9534f;
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.error p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.form-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border: 1px solid red;
    border-radius: 5px;
}
.form-container h1 {
    font-size: 1.75rem;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}
.form-group {
    margin-bottom: 1rem;
}
.form-label {
    display: block;
    font-weight: bold;
    margin-bottom: .5rem;
}
.form-control {
    width: 100%;
    padding: .5rem;
    border: 1px solid #A569BD;
    border-radius: .25rem;
}
.btn-submit {
    min-width: 250px;
    width: 100%;
    padding: .5rem;
    font-size: 1rem;
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    border-radius: .25rem;
}
.error-message {
    margin-top: 1rem;
    color: red;
    font-size: .9rem;
    text-align: center;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    max-width: 900px;
}
.home-page {
    background-image: url('/static/uploads/images/background-home2.jpg');
}

.hero-content {
    position: relative;
    z-index: 1;
    max-width: 600px;
}
.card .profile {
    width: 100%;
    padding-top: 50%;
    position: relative;

}

.card-body:hover {
    border-color: #A569BD;

}

.movie .card {
    max-width: 18rem; /* Smaller card width */
    margin: 0 auto; /* Center card horizontally */
}
.movie .card-title {
    font-size: 1.1rem;
    font-weight: bold;
}
.card-text {
    font-size: 0.9rem;
}
.card-footer {
    display: flex;
    justify-content: space-between; /* Align buttons to opposite sides */
}
.btn {
    font-size: 0.8rem; /* Smaller button text */
}

.profile-image-wrapper img {
    width: 120px; /* Set the size of the circle */
    height: 120px;
    border: 3px solid #C8A1E0;
}

.profile-image {
    object-fit: cover; /* Ensures the image covers the circle without stretching */

}


