<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 400 - Bad Request</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <div class="container">
        <h1>Error 400 - Bad Request</h1>
        <p>Oops! Your request could not be processed due to a bad request. Please check your input and try again.</p>
        <button onclick="window.location.href='/'">Go back to Home page</button>
    </div>
</body>
</html>